<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="../static/css/product/orderSheet.css" />
<script src="../static/js/product/orderSheet.js" type="text/javascript"></script>
<body>
<th:block th:replace="config :: configFragment"></th:block>
<th:block th:replace="header :: headerFragment"></th:block>

    <div class="container">
        <div class="row" style="height: 500px;overflow: scroll;">
            <th:block th:each="data:${list}">
                <div class="col-6">
                    <div style="width: 100%;">
                        <div><label>단가</label><p th:text="${data.productStandard}"></p></div>
                        <div><label>주문수량</label><p th:text="${data.productCount}"></p></div>
                        <div><label>총 가격</label><p th:text="${data.productCost}"></p></div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>

    <div class="container mt-2">
        <div class="row">
            <div class="col-6">
                <label></label>
                <p th:text="${totalCost}"></p>
            </div>
            <div>
                <button>결제하기</button>
            </div>
        </div>
    </div>
</body>
</html>