<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

  <div th:fragment="headerFragment" class="container">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link active" href="/">홈</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/orderpage">주문창</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" onclick="doPageHome('/getOrderSheet')">주문내역</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/payList">결제내역</a>
      </li>
      <li>
        <a class="nav-list" onclick="logOut();"></a>
      </li>
    </ul>
  </div>
  <script>
    function doPage(url) {
      var token = localStorage.getItem("jwt");
      const headers =  {
        "Authorization": "Bearer " + token,
      };
      const init = {
        "method" : "GET",
        "headers" : headers
      }
      fetch(url,init);
    };

    function logOut() {
      $.ajax({
        url : "/api/logout",
        data : {
          "username" : localStorage.getItem("username")
        },
        method : "POST",
        dataType : "json",
        success:function () {
          localStorage.removeItem("jwt");
          localStorage.removeItem("username");
        },
        error:function (e) {
          alert(e);
        }
      });
    };

  </script>
</html>