<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <div th:fragment="headerFragment" class="container">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link active" href="/">홈</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" onclick="doPage('/orderpage')">주문창</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" onclick="doPage('/getOrderSheet')">주문내역</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" onclick="doPage('/payList')">결제내역</a>
      </li>
      <li>
        <a id="logoutBtn" class="nav-list" onclick="logOut();">로그아웃</a>
      </li>
    </ul>
  </div>
  <script>


  </script>
</html>